{
  "swagger": "2.0",
  "info": {
    "title": "Probo Reseller API",
    "description": "Reseller API",
    "version": "1.0.0"
  },
  "host": "api.proboprints.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/order": {
      "x-amf-description": "With this endpoint a reseller can place orders at Probo and receive order information.",
      "post": {
        "description": "Place an order at Probo",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "required": true,
            "in": "header",
            "type": "string"
          },
          {
            "x-amf-mediaType": "application/json",
            "in": "body",
            "name": "generated",
            "schema": {
              "$ref": "#/definitions/type"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "",
            "x-amf-mediaType": "application/json",
            "schema": {
              "example": {
                "status": "order_queued",
                "message": "Order queued",
                "order": {
                  "id": "1112",
                  "reference": "Reseller API test order"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized or invalid client application credentials"
          },
          "500": {
            "description": "Bad response from authorization server, or WSDL SOAP Fault error"
          }
        }
      }
    },
    "/order/status": {
      "x-amf-description": "With this endpoint a reseller can request the status of orders placed at Probo.",
      "post": {
        "description": "Request status of an order",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "required": true,
            "in": "header",
            "type": "string"
          },
          {
            "x-amf-mediaType": "application/json",
            "in": "body",
            "name": "generated",
            "schema": {
              "$ref": "#/definitions/type_1"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "x-amf-mediaType": "application/json",
            "schema": {
              "example": {
                "status": "ok",
                "message": "Status retrieved",
                "orders": [
                  {
                    "id": "order-5234231",
                    "reference": "test order",
                    "supplier_order_number": 201900001,
                    "status_code": "shipment_delivered",
                    "delivery_date": "2020-08-14",
                    "shipping_method_code": "dhl-letterbox",
                    "products": [
                      {
                        "id": 1,
                        "status_code": "shipment_delivered"
                      }
                    ],
                    "packages": [
                      {
                        "id": 1,
                        "status_code": "shipment_delivered",
                        "tracking_url": "https://dhlparcel.nl/en/private/receiving/follow-your-shipment?tt=JJD00009005735170002249&amp;pc=1181GG"
                      }
                    ]
                  }
                ]
              }
            }
          },
          "401": {
            "description": "Unauthorized or invalid client application credentials"
          },
          "500": {
            "description": "Bad response from authorization server, or WSDL SOAP Fault error"
          }
        }
      }
    },
    "/order/cancel": {
      "x-amf-description": "With this endpoint a reseller can cancel multiple order placed at Probo.",
      "post": {
        "description": "Cancel order",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "required": true,
            "in": "header",
            "type": "string"
          },
          {
            "x-amf-mediaType": "application/json",
            "in": "body",
            "name": "generated",
            "schema": {
              "$ref": "#/definitions/type_2"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "x-amf-mediaType": "application/json",
            "schema": {
              "example": {
                "status": "cancelled",
                "message": "Order cancelled",
                "id": "order-5234231"
              }
            }
          },
          "400": {
            "description": "",
            "x-amf-mediaType": "application/json",
            "schema": {
              "x-amf-examples": {
                "cannotcancel": {
                  "status": "error",
                  "message": "Could not cancel order, because order status is: production",
                  "id": "order-5234231"
                },
                "failed": {
                  "status": "error",
                  "message": "Failed to cancel order, please contact Probo",
                  "id": "order-5234231"
                },
                "notexists": {
                  "status": "error",
                  "message": "Order does not exist",
                  "id": "order-5234231"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized or invalid client application credentials"
          },
          "500": {
            "description": "Bad response from authorization server, or WSDL SOAP Fault error"
          }
        }
      }
    },
    "/order/release": {
      "x-amf-description": "With this endpoint a reseller can release a cancelled order with their own order id, so they can place the order again with the same order id.",
      "post": {
        "description": "Release order",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "required": true,
            "in": "header",
            "type": "string"
          },
          {
            "x-amf-mediaType": "application/json",
            "in": "body",
            "name": "generated",
            "schema": {
              "$ref": "#/definitions/type_3"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "x-amf-mediaType": "application/json",
            "schema": {
              "example": {
                "status": "released",
                "message": "Order released",
                "id": "order-5234231"
              }
            }
          },
          "400": {
            "description": "",
            "x-amf-mediaType": "application/json",
            "schema": {
              "x-amf-examples": {
                "cannotrelease": {
                  "status": "error",
                  "message": "Could not release order, because order status is: production",
                  "id": "order-5234231"
                },
                "failed": {
                  "status": "error",
                  "message": "Failed to release order, please contact Probo",
                  "id": "order-5234231"
                },
                "notexists": {
                  "status": "error",
                  "message": "Order does not exist",
                  "id": "order-5234231"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized or invalid client application credentials"
          },
          "500": {
            "description": "Bad response from authorization server, or WSDL SOAP Fault error"
          }
        }
      }
    },
    "/orders": {
      "x-amf-description": "With this endpoint a reseller can retrieve all orders placed at Probo.",
      "get": {
        "description": "Retrieve all customer API orders",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "sort_column",
            "in": "query",
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "type": "integer"
          },
          {
            "name": "per_page",
            "in": "query",
            "type": "integer"
          },
          {
            "name": "order_date_from",
            "description": "Match string to yyyy-mm-dd",
            "in": "query",
            "type": "string"
          },
          {
            "name": "order_date_to",
            "description": "Match string to yyyy-mm-dd",
            "in": "query",
            "type": "string"
          },
          {
            "name": "status",
            "in": "query",
            "type": "string"
          },
          {
            "name": "customer_order_id",
            "in": "query",
            "type": "string"
          },
          {
            "name": "address_company_name",
            "in": "query",
            "type": "string"
          },
          {
            "name": "address_first_name",
            "in": "query",
            "type": "string"
          },
          {
            "name": "address_last_name",
            "in": "query",
            "type": "string"
          },
          {
            "name": "Authorization",
            "required": true,
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "x-amf-mediaType": "application/json",
            "schema": {
              "example": {
                "meta": {
                  "page": 1,
                  "pages": 1,
                  "items": 1,
                  "per_page": 10
                },
                "orders": [
                  {
                    "number": 2020023130,
                    "customer_reference": "VOS spandoek",
                    "order_date": "2021-01-15T14:45:59+0000",
                    "customer_order_id": null,
                    "total_sales_price": 27.2,
                    "total_vat": 5.72,
                    "converted_preview_small_url": "http://s3-eu-west-1.amazonaws.com/proboprodbucket/2594551/7de4d2479e6b0d38/7de3d2479e6bad38_preview.jpg",
                    "delivery_date": "2021-01-20T00:00:00+0000",
                    "delivery_address": {
                      "address_company_name": "companyName",
                      "address_first_name": "firstName",
                      "address_last_name": "lastName",
                      "address_street": "Dam Square",
                      "address_house_number": "1",
                      "address_addition": null,
                      "address_postal_code": "1012 JS/NP",
                      "address_city": "Amsterdam",
                      "address_country": "NL",
                      "address_telephone_number": "999999999"
                    },
                    "external_status_code": "logistics"
                  }
                ]
              }
            }
          },
          "401": {
            "description": "Unauthorized or invalid client application credentials"
          },
          "500": {
            "description": "Bad response from authorization server, or WSDL SOAP Fault error"
          }
        }
      }
    },
    "/price": {
      "x-amf-description": "Retrieve prices of order",
      "post": {
        "description": "Retrieve price of an order at Probo",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "required": true,
            "in": "header",
            "type": "string"
          },
          {
            "x-amf-mediaType": "application/json",
            "in": "body",
            "name": "generated",
            "schema": {
              "$ref": "#/definitions/type_4"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "x-amf-mediaType": "application/json",
            "schema": {
              "$ref": "#/definitions/type_5"
            }
          },
          "401": {
            "description": "Unauthorized or invalid client application credentials"
          },
          "500": {
            "description": "Bad response from authorization server, or WSDL SOAP Fault error"
          }
        }
      }
    },
    "/apiproducts": {
      "x-amf-description": "Customer API products",
      "get": {
        "description": "Retrieve all customer API products",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "default": 1,
            "type": "integer",
            "minimum": 1
          },
          {
            "name": "per_page",
            "in": "query",
            "default": 20,
            "type": "integer",
            "minimum": 1
          },
          {
            "name": "language",
            "in": "query",
            "type": "string",
            "minLength": 2,
            "maxLength": 2
          },
          {
            "name": "Authorization",
            "required": true,
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "x-amf-mediaType": "application/json",
            "schema": {
              "$ref": "#/definitions/type_6"
            }
          },
          "401": {
            "description": "Unauthorized or invalid client application credentials"
          },
          "500": {
            "description": "Bad response from authorization server, or WSDL SOAP Fault error"
          }
        }
      }
    },
    "/apiproducts/product/{customer_code}": {
      "x-amf-description": "Single Customer API product",
      "get": {
        "description": "Get single customer API product",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "language",
            "in": "query",
            "type": "string",
            "minLength": 2,
            "maxLength": 2
          },
          {
            "name": "customer_code",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "Authorization",
            "required": true,
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "x-amf-mediaType": "application/json",
            "schema": {
              "$ref": "#/definitions/type_7"
            }
          },
          "401": {
            "description": "Unauthorized or invalid client application credentials"
          },
          "500": {
            "description": "Bad response from authorization server, or WSDL SOAP Fault error"
          }
        }
      }
    },
    "/products": {
      "x-amf-description": "Probo products",
      "get": {
        "description": "Retrieve all probo products",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "default": 1,
            "type": "integer",
            "minimum": 1
          },
          {
            "name": "per_page",
            "in": "query",
            "default": 20,
            "type": "integer",
            "minimum": 1
          },
          {
            "name": "language",
            "in": "query",
            "type": "string",
            "minLength": 2,
            "maxLength": 2
          },
          {
            "name": "updated_at_from",
            "description": "Match string to yyyy-mm-dd",
            "in": "query",
            "type": "string"
          },
          {
            "name": "updated_at_to",
            "description": "Match string to yyyy-mm-dd",
            "in": "query",
            "type": "string"
          },
          {
            "name": "Authorization",
            "required": true,
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "x-amf-mediaType": "application/json",
            "schema": {
              "example": {
                "meta": {
                  "page": 1,
                  "pages": 1,
                  "items": 1,
                  "per_page": 20
                },
                "products": [
                  {
                    "code": "airtex_01",
                    "article_group_name": "Doek",
                    "unit_code": "m2",
                    "translations": {
                      "nl": {
                        "title": "Spandoek",
                        "description": "Spandoek"
                      }
                    },
                    "created_at": "2019-10-31T14:04:21+0000",
                    "updated_at": "2019-10-31T14:04:21+0000"
                  }
                ]
              }
            }
          },
          "401": {
            "description": "Unauthorized or invalid client application credentials"
          },
          "500": {
            "description": "Bad response from authorization server, or WSDL SOAP Fault error"
          }
        }
      }
    },
    "/products/configure": {
      "x-amf-description": "Configure Probo product(s)",
      "post": {
        "description": "Configure Probo product(s)",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "required": true,
            "in": "header",
            "type": "string"
          },
          {
            "x-amf-mediaType": "application/json",
            "in": "body",
            "name": "generated",
            "schema": {
              "$ref": "#/definitions/type_8"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "x-amf-mediaType": "application/json",
            "schema": {
              "example": {
                "value": {
                  "products": [
                    {
                      "api_code": "clearview",
                      "can_order": true,
                      "available_options": [],
                      "selected_options": [
                        {
                          "type_code": "width",
                          "name": "Breite",
                          "description": null,
                          "value": "100",
                          "code": null,
                          "default_value": null,
                          "min_value": "0.00",
                          "max_value": "99999.00",
                          "step_size": null,
                          "scale": 1,
                          "reversible": true
                        },
                        {
                          "type_code": "height",
                          "name": "Höhe",
                          "description": null,
                          "value": "100",
                          "code": null,
                          "default_value": null,
                          "min_value": "0.00",
                          "max_value": "99999.00",
                          "step_size": null,
                          "scale": 1,
                          "reversible": true
                        },
                        {
                          "type_code": "amount",
                          "name": null,
                          "description": null,
                          "value": "100",
                          "code": null,
                          "external_id": null,
                          "default_value": null,
                          "min_value": null,
                          "max_value": null,
                          "step_size": null,
                          "scale": null,
                          "reversible": null
                        },
                        {
                          "type_code": "radio",
                          "name": "Eine Schicht Vollfarbe",
                          "description": "Der Druck besteht aus einer Schicht Vollfarbe Tinte.",
                          "value": null,
                          "code": null,
                          "default_value": null,
                          "min_value": null,
                          "max_value": null,
                          "step_size": null,
                          "scale": null,
                          "reversible": null
                        },
                        {
                          "type_code": "radio",
                          "name": "Außenseite",
                          "description": "Die Folie wird an die Außenseite (des Fensters) geklebt.",
                          "value": null,
                          "code": null,
                          "default_value": null,
                          "min_value": null,
                          "max_value": null,
                          "step_size": null,
                          "scale": null,
                          "reversible": null
                        },
                        {
                          "type_code": "radio",
                          "name": "Ohne Laminat",
                          "description": "Die Folie wird nicht laminiert.",
                          "value": null,
                          "code": null,
                          "default_value": null,
                          "min_value": null,
                          "max_value": null,
                          "step_size": null,
                          "scale": null,
                          "reversible": null
                        },
                        {
                          "type_code": "radio",
                          "name": "Schneiden",
                          "description": "Die Folie wird auf das gewünschte Format zugeschnitten.",
                          "api_code": null,
                          "default_value": null,
                          "min_value": null,
                          "max_value": null,
                          "step_size": null,
                          "scale": null,
                          "reversible": null
                        }
                      ],
                      "amount": 100,
                      "width": 100,
                      "height": 100,
                      "length": 0,
                      "deliveries:": [
                        {
                          "delivery_date": "2019-12-07T00:00:00+0000",
                          "production_hours": 24,
                          "shipping_methods": [
                            {
                              "name": "Probo-Lieferung",
                              "code": "onbezorgd-standard",
                              "description": "Speziell für große Pakete mit einer Verpackungsgröße ab 180 cm. Für diese Pakete erhalten Sie zwischen 6:00 und 10:00 Uhr einen Track & Trace-Link in einer E-Mail. Über diesen Link können Sie sehen, in welchem Zeitfenster von zwei Stunden das Paket zugestellt wird.",
                              "prices": {
                                "purchase_price": 0,
                                "puchase_price_incl_vat": 0.0,
                                "sales_price": 0,
                                "sales_price_incl_vat": 0.0
                              }
                            }
                          ],
                          "prices_total": {
                            "purchase_price": 0,
                            "puchase_price_incl_vat": 0.0,
                            "sales_price": 0,
                            "sales_price_incl_vat": 0.0
                          },
                          "prices_per_product": {
                            "purchase_price": 0,
                            "puchase_price_incl_vat": 0.0,
                            "sales_price": 0,
                            "sales_price_incl_vat": 0.0
                          }
                        }
                      ]
                    }
                  ],
                  "calculation_id": 82606
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized or invalid client application credentials"
          },
          "500": {
            "description": "Bad response from authorization server, or WSDL SOAP Fault error"
          }
        }
      }
    },
    "/products/uploader/create": {
      "x-amf-description": "Create uploader for configured products",
      "post": {
        "description": "Create uploader for configured products",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "required": true,
            "in": "header",
            "type": "string"
          },
          {
            "x-amf-mediaType": "application/json",
            "in": "body",
            "name": "generated",
            "schema": {
              "$ref": "#/definitions/type_9"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "x-amf-mediaType": "application/json",
            "schema": {
              "example": {
                "status": "ok",
                "message": "Uploaders created",
                "uploaders": [
                  {
                    "product_id": 1,
                    "id": 100,
                    "url": "https://print-uploader.com/init/100?token=cd3ae77df5de340fd9f8f47b87f10ba21a28983e13ca8f"
                  }
                ]
              }
            }
          },
          "401": {
            "description": "Unauthorized or invalid client application credentials"
          },
          "500": {
            "description": "Bad response from authorization server, or WSDL SOAP Fault error"
          }
        }
      }
    },
    "/products/product/{code}": {
      "x-amf-description": "Retrieve Probo product",
      "get": {
        "description": "Retrieve single Probo product",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "uploader-application",
            "in": "query",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "type": "string",
            "minLength": 2,
            "maxLength": 2
          },
          {
            "name": "code",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "Authorization",
            "required": true,
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "x-amf-mediaType": "application/json",
            "schema": {
              "$ref": "#/definitions/type_10"
            }
          },
          "401": {
            "description": "Unauthorized or invalid client application credentials"
          },
          "500": {
            "description": "Bad response from authorization server, or WSDL SOAP Fault error"
          }
        }
      }
    },
    "/products/product/{code}/tiers": {
      "x-amf-description": "Retrieve Probo product tiers pricing",
      "get": {
        "description": "Get all tiers",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "code",
            "required": true,
            "in": "path",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "x-amf-mediaType": "application/json",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/items"
              }
            }
          }
        }
      }
    },
    "/drafts": {
      "x-amf-description": "Order drafts that can be managed and ordered in the webshop",
      "post": {
        "description": "Store order as draft that can be ordered in the webshop",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "required": true,
            "in": "header",
            "type": "string"
          },
          {
            "x-amf-mediaType": "application/json",
            "in": "body",
            "name": "generated",
            "schema": {
              "$ref": "#/definitions/type_11"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "x-amf-mediaType": "application/json",
            "schema": {
              "example": {
                "status": "ok",
                "code": 200,
                "message": "Draft created",
                "id": 452
              }
            }
          },
          "401": {
            "description": "Unauthorized or invalid client application credentials"
          },
          "500": {
            "description": "Bad response from authorization server, or WSDL SOAP Fault error"
          }
        }
      }
    },
    "/project": {
      "x-amf-description": "With this endpoint a reseller can create a project",
      "post": {
        "description": "Store project to orders group",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "required": true,
            "in": "header",
            "type": "string"
          },
          {
            "x-amf-mediaType": "application/json",
            "in": "body",
            "name": "generated",
            "schema": {
              "type": "object",
              "additionalProperties": false,
              "required": [
                "name"
              ],
              "properties": {
                "name": {
                  "description": "Name of the project with max length of 50 chars",
                  "type": "string",
                  "maxLength": 50
                },
                "number": {
                  "description": "Optional number with max length of 50 chars",
                  "type": "string",
                  "maxLength": 50
                },
                "note": {
                  "description": "Note to add to this project with max length of 1000 chars",
                  "type": "string",
                  "maxLength": 1000
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "x-amf-mediaType": "application/json",
            "schema": {
              "example": {
                "status": "ok",
                "code": 200,
                "message": "Project created",
                "id": 1
              }
            }
          },
          "401": {
            "description": "Unauthorized or invalid client application credentials"
          },
          "500": {
            "description": "Bad response from authorization server, or WSDL SOAP Fault error"
          }
        }
      }
    },
    "/projects": {
      "x-amf-description": "With this endpoint a reseller can retrieve projects",
      "get": {
        "description": "Retrieve all projects",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "page",
            "description": "Select a page from search results",
            "in": "query",
            "type": "integer"
          },
          {
            "name": "per_page",
            "description": "Amount of search results per page",
            "in": "query",
            "type": "integer"
          },
          {
            "name": "Authorization",
            "required": true,
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "x-amf-mediaType": "application/json",
            "schema": {
              "example": {
                "status": "ok",
                "code": 200,
                "meta": {
                  "page": 1,
                  "pages": 1,
                  "items": 2,
                  "per_page": 20
                },
                "projects": [
                  {
                    "id": 1,
                    "name": "test",
                    "number": "123",
                    "note": "long_text_note",
                    "created_at": "2021-03-30T00:00:00+0000",
                    "updated_at": "2021-03-30T00:00:00+0000"
                  }
                ]
              }
            }
          },
          "401": {
            "description": "Unauthorized or invalid client application credentials"
          },
          "500": {
            "description": "Bad response from authorization server, or WSDL SOAP Fault error"
          }
        }
      }
    },
    "/shipping/methods": {
      "x-amf-description": "With this endpoint a reseller can retrieve shipping methods",
      "get": {
        "description": "Retrieve all shipping methods",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "language",
            "description": "Select the language of the shipping method",
            "in": "query",
            "type": "string",
            "minLength": 2,
            "maxLength": 2
          },
          {
            "name": "type",
            "description": "Select the type of shipping method",
            "in": "query",
            "type": "string",
            "minLength": 2,
            "maxLength": 25
          },
          {
            "name": "Authorization",
            "required": true,
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "x-amf-mediaType": "application/json",
            "schema": {
              "example": [
                {
                  "code": null,
                  "icon": "https://cdn.print-uploader.com/shipping_method_icons/probo.svg",
                  "requires_email": true,
                  "requires_phone": false,
                  "carrier_code": "DHL",
                  "type": "shipment",
                  "translations": {
                    "de": {
                      "title": "Abholung Dokkum",
                      "description": "Möchten Sie Ihre Bestellung lieber selber abholen? Dann freuen wir uns über Ihren Besuch an unsere Produktionstätte: Probo - Havelandoweg 2, 9101 PR Dokkum - Niederlande",
                      "short_description": "Abholung Dokkum bei Probo - Havelandoweg 2, 9101 PR Dokkum - Niederlande"
                    },
                    "nl": {
                      "title": "Probo Afhaalpunt Dokkum",
                      "description": "Afhalen in Dokkum (Havelandoweg 2) tussen 06.00 en 22.00 uur.",
                      "short_description": "Afhalen bij Probo in Dokkum"
                    },
                    "en": {
                      "title": "Pickup point Dokkum",
                      "description": "Would you like to pickup the order yourself? Then you can find us at the following address: Probo - Havelandoweg 2, 9101 PR Dokkum - The Netherlands",
                      "short_description": "Pickup at Probo in Dokkum"
                    }
                  }
                }
              ]
            }
          },
          "401": {
            "description": "Unauthorized or invalid client application credentials"
          },
          "500": {
            "description": "Bad response from authorization server, or WSDL SOAP Fault error"
          }
        }
      }
    },
    "/ticket": {
      "x-amf-description": "With this endpoint a reseller can create a ticket",
      "post": {
        "description": "Create ticket for product(s)",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "required": true,
            "in": "header",
            "type": "string"
          },
          {
            "x-amf-mediaType": "application/json",
            "in": "body",
            "name": "generated",
            "schema": {
              "$ref": "#/definitions/type_12"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "x-amf-mediaType": "application/json",
            "schema": {
              "example": {
                "status": "ok",
                "code": 200,
                "message": "Ticket created",
                "id": 1
              }
            }
          },
          "401": {
            "description": "Unauthorized or invalid client application credentials"
          },
          "500": {
            "description": "Bad response from authorization server, or WSDL SOAP Fault error"
          }
        }
      }
    },
    "/tickets": {
      "x-amf-description": "With this endpoint a reseller can retrieve tickets",
      "get": {
        "description": "Retrieve all tickets",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "page",
            "description": "Select a page from search results",
            "in": "query",
            "default": 1,
            "type": "integer",
            "minimum": 1
          },
          {
            "name": "per_page",
            "description": "Amount of search results per page",
            "in": "query",
            "default": 20,
            "type": "integer",
            "minimum": 1
          },
          {
            "name": "Authorization",
            "required": true,
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "x-amf-mediaType": "application/json",
            "schema": {
              "example": {
                "status": "ok",
                "code": 200,
                "meta": {
                  "page": 1,
                  "pages": 1,
                  "items": 1,
                  "per_page": 1
                },
                "tickets": [
                  {
                    "supplier_order_number": 1,
                    "id": "1",
                    "status": "open",
                    "created_at": "20230328"
                  }
                ]
              }
            }
          },
          "401": {
            "description": "Unauthorized or invalid client application credentials"
          },
          "500": {
            "description": "Bad response from authorization server, or WSDL SOAP Fault error"
          }
        }
      }
    }
  },
  "definitions": {
    "type": {
      "x-amf-examples": {
        "minimal": {
          "value": {
            "error_email_addresses": [
              "customer@test.com"
            ],
            "callback_urls": [
              "http://test.com/status"
            ],
            "id": "1112",
            "reference": "Reseller API test order",
            "contact_email": "customer@test.com",
            "language": "en",
            "deliveries": [
              {
                "address": {
                  "company_name": "Probo Sign",
                  "first_name": "John",
                  "last_name": "Doe",
                  "street": "Fortuinweg",
                  "house_number": "17",
                  "addition": "A",
                  "postal_code": "9101PE",
                  "city": "Dokkum",
                  "country": "NL",
                  "phone": "0031880223200",
                  "email": "test@test.nl"
                },
                "delivery_date": "2020-08-12",
                "shipping_method_code": "onbezorgd-standard"
              }
            ],
            "products": [
              {
                "code": "beachflag",
                "options": [
                  {
                    "code": "amount",
                    "value": 1
                  },
                  {
                    "code": "straight"
                  },
                  {
                    "code": "large"
                  },
                  {
                    "code": "left"
                  },
                  {
                    "code": "no-beachpole"
                  }
                ],
                "files": [
                  {
                    "uri": "http://test.com/printfile.pdf",
                    "pages": [
                      {
                        "page": 1
                      }
                    ]
                  }
                ]
              }
            ]
          }
        },
        "mingled-product-types": {
          "value": {
            "error_email_addresses": [
              "customer@test.com"
            ],
            "callback_urls": [
              "http://test.com/status"
            ],
            "id": "1112",
            "reference": "Reseller API test order",
            "contact_email": "customer@test.com",
            "language": "en",
            "deliveries": [
              {
                "address": {
                  "company_name": "Probo Sign",
                  "first_name": "John",
                  "last_name": "Doe",
                  "street": "Fortuinweg",
                  "house_number": "17",
                  "addition": "A",
                  "postal_code": "9101PE",
                  "city": "Dokkum",
                  "country": "NL",
                  "phone": "0031880223200",
                  "email": "test@test.nl"
                },
                "delivery_date": "2020-08-12",
                "shipping_method_code": "onbezorgd-standard"
              }
            ],
            "products": [
              {
                "code": "2748",
                "reference": "reference",
                "options": [
                  {
                    "code": "60883",
                    "value": 10
                  }
                ]
              },
              {
                "customer_code": "myBeachflag",
                "options": [
                  {
                    "code": "1234",
                    "value": 5
                  }
                ]
              }
            ]
          }
        }
      },
      "type": "object",
      "required": [
        "id",
        "reference",
        "deliveries",
        "products"
      ],
      "properties": {
        "error_email_addresses": {
          "description": "Array of email addresses which will receive status updates regarding the processing of the order.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "callback_urls": {
          "description": "Array of url's which will be called with status updates regarding the processing of the order.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "order_type": {
          "description": "Set this parameter to \"test\" for testing an order. When a test order is accepted, the order will be visible in your webshop account, but will not be taken into production. Default is \"production\"",
          "enum": [
            "production",
            "test"
          ],
          "type": "string"
        },
        "project": {
          "description": "Set this boolean to true if this is a project order.",
          "type": "boolean"
        },
        "id": {
          "description": "Reseller's identification of the order. Must be unique for each order **(can be re-used when order is cancelled!)**. May only contain the following characters: a-zA-Z0-9_- ",
          "type": "string",
          "pattern": "^[\\w-]+$",
          "minLength": 1
        },
        "reference": {
          "description": "Reseller's reference of the order. Does not have to be unique.",
          "type": "string",
          "minLength": 1
        },
        "contact_email": {
          "description": "Email of the reseller's contact person on behalf the order is placed for. A default contact email address can be set in the Reseller's webshop account settings.",
          "type": "string",
          "minLength": 5
        },
        "language": {
          "description": "The language set in the the Reseller's account is used as default, specify a different language here if necessary. Use ISO 639-1 standard. (not yet supported)",
          "type": "string",
          "minLength": 2,
          "maxLength": 2
        },
        "deliveries": {
          "type": "array",
          "minItems": 1,
          "items": {
            "x-amf-union": [
              {
                "$ref": "#/definitions/DeliveryDateAndShippingMethodCode"
              },
              {
                "$ref": "#/definitions/DeliveryDateAndShippingMethodPreset"
              },
              {
                "$ref": "#/definitions/DeliveryDatePresetAndShippingMethodCode"
              },
              {
                "$ref": "#/definitions/DeliveryDatePresetAndShippingMethodPreset"
              },
              {
                "$ref": "#/definitions/ShippingDateAndShippingMethodCode"
              },
              {
                "$ref": "#/definitions/ShippingDateAndShippingMethodPreset"
              }
            ]
          }
        },
        "products": {
          "type": "array",
          "minItems": 1,
          "items": {
            "x-amf-union": [
              {
                "$ref": "#/definitions/Code"
              },
              {
                "$ref": "#/definitions/CustomerCode"
              }
            ]
          }
        },
        "project_id": {
          "description": "Resellers project group what the order relates to.",
          "type": "integer"
        }
      }
    },
    "type_1": {
      "x-amf-examples": {
        "minimal": {
          "orders": [
            {
              "id": "order-5234231"
            },
            {
              "id": "order-5234232"
            }
          ]
        }
      },
      "type": "object",
      "required": [
        "orders"
      ],
      "properties": {
        "orders": {
          "description": "Max 5 orders",
          "type": "array",
          "maxItems": 5,
          "minItems": 1,
          "items": {
            "type": "object",
            "minProperties": 1,
            "properties": {
              "id": {
                "x-amf-union": [
                  {
                    "type": "integer"
                  },
                  {
                    "type": "string"
                  }
                ]
              },
              "supplier_order_number": {
                "x-amf-union": [
                  {
                    "type": "integer"
                  },
                  {
                    "type": "string"
                  }
                ]
              },
              "reference": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "type_2": {
      "example": {
        "id": "order-5234231"
      },
      "type": "object",
      "minProperties": 1,
      "properties": {
        "id": {
          "x-amf-union": [
            {
              "type": "integer"
            },
            {
              "type": "string"
            }
          ]
        },
        "supplier_order_number": {
          "x-amf-union": [
            {
              "type": "integer"
            },
            {
              "type": "string"
            }
          ]
        }
      }
    },
    "type_3": {
      "example": {
        "id": "order-5234231"
      },
      "type": "object",
      "minProperties": 1,
      "properties": {
        "id": {
          "x-amf-union": [
            {
              "type": "integer"
            },
            {
              "type": "string"
            }
          ]
        },
        "supplier_order_number": {
          "x-amf-union": [
            {
              "type": "integer"
            },
            {
              "type": "string"
            }
          ]
        }
      }
    },
    "type_4": {
      "x-amf-examples": {
        "minimal": {
          "value": {
            "error_email_addresses": [
              "customer@test.com"
            ],
            "callback_urls": [
              "http://test.com/status"
            ],
            "deliveries": [
              {
                "address": {
                  "company_name": "Company",
                  "first_name": "John",
                  "last_name": "Doe",
                  "street": "Straatnaam",
                  "house_number": "1",
                  "addition": "A",
                  "postal_code": "1000AA",
                  "city": "Amsterdam",
                  "country": "NL",
                  "phone": "31612345678",
                  "email": "test@test.nl"
                },
                "delivery_date": "2020-08-12",
                "shipping_method_code": "onbezorgd-standard"
              }
            ],
            "products": [
              {
                "code": "backdrop",
                "reference": "This is customer reference text",
                "options": [
                  {
                    "code": "width",
                    "value": 100
                  },
                  {
                    "code": "height",
                    "value": 100
                  },
                  {
                    "code": "amount",
                    "value": 1
                  },
                  {
                    "code": "blackback"
                  },
                  {
                    "code": "cut"
                  },
                  {
                    "code": "separate-images"
                  }
                ]
              }
            ]
          }
        }
      },
      "type": "object",
      "additionalProperties": false,
      "required": [
        "products"
      ],
      "properties": {
        "error_email_addresses": {
          "description": "Array of email addresses which will receive status updates regarding the processing of the order.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "callback_urls": {
          "description": "\\[NO IMPLEMENTATION YET\\] Array of url's which will be called with status updates regarding the processing of the order.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "deliveries": {
          "type": "array",
          "items": {
            "x-amf-union": [
              {
                "$ref": "#/definitions/AddressOnly"
              },
              {
                "$ref": "#/definitions/DeliveryDate"
              },
              {
                "$ref": "#/definitions/DeliveryDatePreset"
              },
              {
                "$ref": "#/definitions/DeliveryDateShippingMethodCode"
              },
              {
                "$ref": "#/definitions/DeliveryDatePresetShippingMethodCode"
              },
              {
                "$ref": "#/definitions/DeliveryDateShippingMethodPreset"
              },
              {
                "$ref": "#/definitions/DeliveryDatePresetShippingMethodPreset"
              }
            ]
          }
        },
        "products": {
          "type": "array",
          "minItems": 1,
          "items": {
            "x-amf-union": [
              {
                "$ref": "#/definitions/Code_13"
              },
              {
                "$ref": "#/definitions/CustomerCode_14"
              }
            ]
          }
        },
        "language": {
          "description": "Specify a language for the requested price",
          "type": "string"
        }
      }
    },
    "type_5": {
      "description": "Single Customer API product price response",
      "example": {
        "status": "ok",
        "code": 200,
        "message": "Price calculated",
        "id": 5234231,
        "prices": [
          {
            "shipping_date": "2019-06-14T00:00:00+0000",
            "delivery_date": "2020-01-24T00:00:00+0000",
            "production_hours": 24,
            "products_purchase_price": 0,
            "products_purchase_price_incl_vat": 0,
            "products_sales_price": 0,
            "products_sales_price_incl_vat": 0,
            "products": [
              {
                "id": 1,
                "prices_per_product": {
                  "purchase_price": 0,
                  "purchase_price_incl_vat": 0,
                  "sales_price": 0,
                  "sales_price_incl_vat": 0
                },
                "prices_total": {
                  "purchase_price": 0,
                  "purchase_price_incl_vat": 0,
                  "sales_price": 0,
                  "sales_price_incl_vat": 0
                }
              },
              {
                "id": 2,
                "prices_per_product": {
                  "purchase_price": 0,
                  "purchase_price_incl_vat": 0,
                  "sales_price": 0,
                  "sales_price_incl_vat": 0
                },
                "prices_total": {
                  "purchase_price": 0,
                  "purchase_price_incl_vat": 0,
                  "sales_price": 0,
                  "sales_price_incl_vat": 0
                }
              }
            ],
            "deliveries": [
              {
                "shipping_method_api_code": "dhl-standard",
                "shipping_method_name": "DHL - Standaard",
                "shipping_method_description": "Bezorging tussen 08.00 en 18.00 uur. Je ontvangt een track & trace link waarmee je het pakket kunt volgen. DHL geeft géén geschatte tijd van aankomst.",
                "transit_days": 1,
                "prices": {
                  "purchase_price": 0.0,
                  "purchase_price_incl_vat": 0.0,
                  "sales_price": 0,
                  "sales_price_incl_vat": 0
                }
              }
            ]
          },
          {
            "shipping_date": "2019-06-13T00:00:00+0000",
            "delivery_date": "2020-01-24T00:00:00+0000",
            "production_hours": 48,
            "products_purchase_price": 0,
            "products_purchase_price_incl_vat": 0,
            "products_sales_price": 0,
            "products_sales_price_incl_vat": 0,
            "products": [
              {
                "id": 1,
                "prices_per_product": {
                  "purchase_price": 0,
                  "purchase_price_incl_vat": 0,
                  "sales_price": 0,
                  "sales_price_incl_vat": 0
                },
                "prices_total": {
                  "purchase_price": 0,
                  "purchase_price_incl_vat": 0,
                  "sales_price": 0,
                  "sales_price_incl_vat": 0
                }
              },
              {
                "id": 2,
                "prices_per_product": {
                  "purchase_price": 0,
                  "purchase_price_incl_vat": 0,
                  "sales_price": 0,
                  "sales_price_incl_vat": 0
                },
                "prices_total": {
                  "purchase_price": 0,
                  "purchase_price_incl_vat": 0,
                  "sales_price": 0,
                  "sales_price_incl_vat": 0
                }
              }
            ],
            "deliveries": [
              {
                "shipping_method_api_code": "dhl-standard",
                "shipping_method_name": "DHL - Standaard",
                "shipping_method_description": "Bezorging tussen 08.00 en 18.00 uur. Je ontvangt een track & trace link waarmee je het pakket kunt volgen. DHL geeft géén geschatte tijd van aankomst.",
                "transit_days": 1,
                "prices": {
                  "purchase_price": 0.0,
                  "purchase_price_incl_vat": 0.0,
                  "sales_price": 0,
                  "sales_price_incl_vat": 0
                }
              }
            ]
          }
        ]
      },
      "type": "object",
      "additionalProperties": true,
      "properties": {
        "status": {
          "description": "status",
          "example": "ok",
          "type": "string"
        },
        "code": {
          "description": "status coce",
          "example": 200,
          "type": "integer"
        },
        "message": {
          "description": "Calculation message",
          "example": "Price Calculated",
          "type": "string"
        },
        "prices": {
          "description": "Array of prices",
          "type": "array",
          "items": {
            "$ref": "#/definitions/items_15"
          }
        }
      }
    },
    "type_6": {
      "description": "Composed API products",
      "example": {
        "meta": {
          "page": 1,
          "pages": 1,
          "items": 1,
          "per_page": 20
        },
        "products": [
          {
            "customer_code": "airtex_01",
            "unit_code": "m2",
            "title": "Airtex",
            "description": "Airtex",
            "created_at": "2019-10-01T07:50:00+0000",
            "updated_at": "2019-10-01T07:52:43+0000",
            "deleted_at": null
          },
          {
            "customer_code": "mybanner_01",
            "unit_code": "m2",
            "title": "Banner 510",
            "description": "Banner",
            "created_at": "2019-11-01T07:50:00+0000",
            "updated_at": "2019-11-05T07:52:43+0000",
            "deleted_at": null
          }
        ]
      },
      "type": "object",
      "required": [
        "meta"
      ],
      "properties": {
        "meta": {
          "type": "object",
          "required": [
            "page",
            "pages",
            "items",
            "per_page"
          ],
          "properties": {
            "page": {
              "description": "Page number",
              "example": 1,
              "type": "integer"
            },
            "pages": {
              "description": "Number of pages",
              "example": 1,
              "type": "integer"
            },
            "items": {
              "description": "Total number of Composed API products for customer",
              "example": 1,
              "type": "integer"
            },
            "per_page": {
              "description": "Maximum number of Composed API products per page",
              "example": 1,
              "type": "integer"
            }
          }
        },
        "products": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/items_16"
          }
        }
      }
    },
    "type_7": {
      "description": "Single Customer API product",
      "example": {
        "value": {
          "customer_code": "airtex_01",
          "code": "banner-510",
          "title": "Banner 510",
          "description": "Banner 510 gr/m²",
          "article_group_name": "Banners",
          "options": [
            {
              "type_code": "width",
              "name": "Width",
              "description": null,
              "parent_name": "Dimensions and amount",
              "value": "644",
              "code": "width",
              "default_value": null,
              "min_value": 0.0,
              "max_value": 99999.0,
              "step_size": null,
              "scale": 1,
              "reversible": true
            },
            {
              "type_code": "height",
              "name": "Height",
              "description": null,
              "parent_name": "Dimensions and amount",
              "value": "44",
              "code": "height",
              "default_value": null,
              "min_value": 0.0,
              "max_value": 99999.0,
              "step_size": null,
              "scale": 1,
              "reversible": true
            },
            {
              "type_code": "amount",
              "name": null,
              "description": null,
              "parent_name": "Dimensions and amount",
              "value": "1",
              "code": "amount",
              "default_value": null,
              "min_value": null,
              "max_value": null,
              "step_size": null,
              "scale": null,
              "reversible": null
            },
            {
              "type_code": "radio",
              "name": "Equal for all sides",
              "description": "All banner sides of will have the same finishing.",
              "parent_name": "Finishing per side",
              "value": null,
              "code": "finishing-all-sides",
              "default_value": null,
              "min_value": null,
              "max_value": null,
              "step_size": null,
              "scale": null,
              "reversible": null
            }
          ],
          "amount": 1,
          "width": 644,
          "height": 44,
          "length": 0,
          "upload": true,
          "uploaders": [
            {
              "type": "single",
              "amount": 1,
              "width": 40,
              "heigth": 60
            }
          ],
          "prices_total_v2": [
            {
              "production_hours": 24,
              "prices": {
                "purchase_price": 0.0,
                "purchase_price_incl_vat": 0.0,
                "sales_price": 0.0,
                "sales_price_incl_vat": 0.0
              }
            },
            {
              "production_hours": 48,
              "prices": {
                "purchase_price": 0.0,
                "purchase_price_incl_vat": 0.0,
                "sales_price": 0.0,
                "sales_price_incl_vat": 0.0
              }
            }
          ],
          "prices_per_product_v2": [
            {
              "production_hours": 24,
              "prices": {
                "purchase_price": 0.0,
                "purchase_price_incl_vat": 0.0,
                "sales_price": 0.0,
                "sales_price_incl_vat": 0.0
              }
            },
            {
              "production_hours": 48,
              "prices": {
                "purchase_price": 0.0,
                "purchase_price_incl_vat": 0.0,
                "sales_price": 0.0,
                "sales_price_incl_vat": 0.0
              }
            }
          ],
          "prices_total": {
            "24": {
              "purchase_price": 0.0,
              "purchase_price_incl_vat": 0.0,
              "sales_price": 0.0,
              "sales_price_incl_vat": 0.0
            },
            "48": {
              "purchase_price": 0.0,
              "purchase_price_incl_vat": 0.0,
              "sales_price": 0.0,
              "sales_price_incl_vat": 0.0
            }
          },
          "prices_per_product": {
            "24": {
              "purchase_price": 0.0,
              "purchase_price_incl_vat": 0.0,
              "sales_price": 0.0,
              "sales_price_incl_vat": 0.0
            },
            "48": {
              "purchase_price": 0.0,
              "purchase_price_incl_vat": 0.0,
              "sales_price": 0.0,
              "sales_price_incl_vat": 0.0
            }
          }
        }
      },
      "type": "object",
      "additionalProperties": true,
      "required": [
        "options",
        "upload",
        "prices_per_product",
        "prices_total"
      ],
      "properties": {
        "customer_code": {
          "description": "Reference to the composed API product (compose your API products in the Probo webshop).",
          "example": "photo_panel_3mm_40_60",
          "type": "string"
        },
        "code": {
          "description": "Reference to the Probo product used to compose the API product",
          "example": "aluminium-sign",
          "type": "string"
        },
        "title": {
          "description": "Product title",
          "example": "Aluminium sign",
          "type": "string"
        },
        "description": {
          "description": "Product description",
          "example": "Light and strong aluminium panel",
          "type": "string"
        },
        "article_group_name": {
          "description": "The group name of the product. ",
          "example": "Outdoor signs",
          "type": "string"
        },
        "options": {
          "description": "Array of options",
          "type": "array",
          "items": {
            "type": "object",
            "required": [
              "type_code"
            ],
            "properties": {
              "reversible": {
                "description": "????",
                "example": true,
                "x-amf-union": [
                  {
                    "type": "boolean"
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "name": {
                "description": "Name",
                "example": "Width",
                "x-amf-union": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "default_value": {
                "description": "Default  value",
                "example": null,
                "x-amf-union": [
                  {
                    "type": "integer"
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "value": {
                "description": "Value",
                "example": 100,
                "x-amf-union": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "integer"
                  },
                  {
                    "type": "number"
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "min_value": {
                "description": "Minimum allowed value",
                "example": 0.0,
                "x-amf-union": [
                  {
                    "type": "number"
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "scale": {
                "description": "Value scale",
                "example": null,
                "x-amf-union": [
                  {
                    "type": "integer"
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "step_size": {
                "description": "Value step size",
                "example": 1,
                "x-amf-union": [
                  {
                    "type": "integer"
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "max_value": {
                "description": "Maximum allowed value",
                "example": 99999.0,
                "x-amf-union": [
                  {
                    "type": "number"
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "parent_name": {
                "description": "Name of the parent option",
                "example": "Dimensions",
                "x-amf-union": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "description": {
                "description": "Description",
                "example": "Product width",
                "x-amf-union": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "type_code": {
                "description": "The type of the option. Parent, text, number, decimal, radio, parent_size, parent_amount, width, height, length, amount, parent_cross_sell_onclick, parent_cross_sell_sendtobottom, cross_sell_pm, cross_sell_pc, cross_sell_next, calculated",
                "example": "width",
                "type": "string"
              }
            }
          }
        },
        "amount": {
          "description": "Amount of the product",
          "example": 2,
          "x-amf-union": [
            {
              "type": "integer"
            },
            {
              "type": "null"
            }
          ]
        },
        "width": {
          "description": "Width of the product",
          "example": 100,
          "x-amf-union": [
            {
              "type": "integer"
            },
            {
              "type": "null"
            }
          ]
        },
        "height": {
          "description": "Height of the product",
          "example": 50,
          "x-amf-union": [
            {
              "type": "integer"
            },
            {
              "type": "null"
            }
          ]
        },
        "length": {
          "description": "Length of the product",
          "example": null,
          "x-amf-union": [
            {
              "type": "integer"
            },
            {
              "type": "null"
            }
          ]
        },
        "upload": {
          "description": "Indicates if product requires one ore more upload",
          "example": true,
          "type": "boolean"
        },
        "uploads": {
          "description": "Specification of the required upload(s)",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "width": {
                "description": "Width of upload",
                "example": 100,
                "type": "integer"
              },
              "amount": {
                "description": "Amount of uploads",
                "example": 1,
                "type": "integer"
              },
              "height": {
                "description": "Height of uploads",
                "example": 50,
                "type": "integer"
              },
              "type": {
                "description": "Type of upload",
                "example": "single",
                "type": "string"
              }
            }
          }
        },
        "prices_per_product_v2": {
          "description": "Prices per product",
          "type": "array",
          "items": {
            "$ref": "#/definitions/items_17"
          }
        },
        "prices_total_v2": {
          "description": "Total prices",
          "type": "array",
          "items": {
            "$ref": "#/definitions/items_17"
          }
        },
        "prices_per_product": {
          "$ref": "#/definitions/prices_per_product"
        },
        "prices_total": {
          "$ref": "#/definitions/prices_per_product"
        }
      }
    },
    "type_8": {
      "x-amf-examples": {
        "minimal": {
          "products": [
            {
              "code": "banner-510",
              "options": []
            }
          ]
        }
      },
      "type": "object",
      "required": [
        "products"
      ],
      "properties": {
        "products": {
          "type": "array",
          "minItems": 1,
          "items": {
            "$ref": "#/definitions/Code_18"
          }
        },
        "language": {
          "description": "The language set in the the Reseller's account is used as default, specify a different language here if necessary. Use ISO 639-1 standard.",
          "type": "string",
          "minLength": 2,
          "maxLength": 2
        },
        "uploader_applications": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "type_9": {
      "example": {
        "calculation_id": 68937,
        "callback_url": "http://example.com/uploader-callback"
      },
      "type": "object",
      "required": [
        "calculation_id",
        "callback_url"
      ],
      "properties": {
        "calculation_id": {
          "type": "integer"
        },
        "callback_url": {
          "type": "string"
        },
        "language": {
          "description": "Set language for uploader. The language set in the the Reseller's account is used as default, specify a different language here if necessary. Use ISO 639-1 standard.",
          "type": "string",
          "minLength": 2,
          "maxLength": 2
        }
      }
    },
    "type_10": {
      "description": "Single Probo product",
      "example": {
        "code": "banner-510",
        "translations": {
          "nl": {
            "title": "Spandoek",
            "description": "Spandoek"
          }
        },
        "article_group_name": "Doek",
        "options": [
          {
            "translations": {
              "nl": {
                "name": "Afmeting"
              }
            },
            "is_parent": true,
            "type_code": "parent_size",
            "code": "A1",
            "children": [
              {
                "translations": {
                  "nl": {
                    "name": "Breedte"
                  }
                },
                "is_parent": false,
                "type_code": "width",
                "code": "width"
              },
              {
                "translations": {
                  "nl": {
                    "name": "Hoogte"
                  }
                },
                "is_parent": false,
                "type_code": "height",
                "code": "height"
              }
            ]
          }
        ]
      },
      "type": "object",
      "additionalProperties": true,
      "required": [
        "code"
      ],
      "properties": {
        "code": {
          "description": "API code of probo product",
          "example": "banner-510",
          "type": "string"
        }
      }
    },
    "items": {
      "description": "Product tier object",
      "type": "object",
      "additionalProperties": false,
      "required": [
        "api_code",
        "article_group_code",
        "unit_code",
        "tiers"
      ],
      "properties": {
        "api_code": {
          "description": "Product API code",
          "example": "banner-510",
          "type": "string"
        },
        "article_group_code": {
          "description": "Product article group code",
          "example": "MA",
          "type": "string"
        },
        "unit_code": {
          "description": "Product unit code",
          "example": "m2",
          "type": "string"
        },
        "tiers": {
          "description": "An array of tiers",
          "type": "array",
          "items": {
            "description": "A tier object",
            "type": "object",
            "required": [
              "sales_price",
              "tier"
            ],
            "properties": {
              "sales_price": {
                "description": "Tier sales price",
                "example": 7.5,
                "type": "number"
              },
              "tier": {
                "description": "The tier amount",
                "example": 1,
                "type": "integer"
              },
              "rush_hours": {
                "description": "Rush hours array",
                "type": "array",
                "items": {
                  "description": "Rush hour object",
                  "type": "object",
                  "required": [
                    "hour",
                    "sales_price"
                  ],
                  "properties": {
                    "hour": {
                      "description": "An amount of hours",
                      "example": 18,
                      "type": "integer"
                    },
                    "sales_price": {
                      "description": "A salesprice for the rush hour",
                      "example": 9.5,
                      "type": "number"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "type_11": {
      "type": "object",
      "required": [
        "id",
        "reference",
        "deliveries",
        "products"
      ],
      "properties": {
        "id": {
          "description": "Reseller's identification of the order. Must be unique for each order **(can be re-used when order is cancelled!)**. May only contain the following characters: a-zA-Z0-9_- ",
          "type": "string",
          "pattern": "^[\\w-]+$",
          "minLength": 1
        },
        "reference": {
          "description": "Reseller's reference of the order. Does not have to be unique.",
          "type": "string",
          "minLength": 1
        },
        "contact_email": {
          "description": "Email of the reseller's contact person on behalf the order is placed for. A default contact email address can be set in the Reseller's webshop account settings.",
          "type": "string",
          "minLength": 5
        },
        "language": {
          "description": "The language set in the the Reseller's account is used as default, specify a different language here if necessary. Use ISO 639-1 standard. (not yet supported)",
          "type": "string",
          "minLength": 2,
          "maxLength": 2
        },
        "deliveries": {
          "type": "array",
          "minItems": 1,
          "items": {
            "x-amf-union": [
              {
                "$ref": "#/definitions/DeliveryDateAndShippingMethodCode"
              },
              {
                "$ref": "#/definitions/DeliveryDateAndShippingMethodPreset"
              },
              {
                "$ref": "#/definitions/DeliveryDatePresetAndShippingMethodCode"
              },
              {
                "$ref": "#/definitions/DeliveryDatePresetAndShippingMethodPreset"
              },
              {
                "$ref": "#/definitions/ShippingDateAndShippingMethodCode"
              },
              {
                "$ref": "#/definitions/ShippingDateAndShippingMethodPreset"
              }
            ]
          }
        },
        "products": {
          "type": "array",
          "minItems": 1,
          "items": {
            "x-amf-union": [
              {
                "$ref": "#/definitions/DraftCode"
              },
              {
                "$ref": "#/definitions/DraftCustomerCode"
              }
            ]
          }
        }
      }
    },
    "type_12": {
      "type": "object",
      "additionalProperties": false,
      "required": [
        "id",
        "order_id",
        "reason",
        "suggested_solution"
      ],
      "properties": {
        "id": {
          "description": "Ticket id",
          "x-amf-union": [
            {
              "type": "integer"
            },
            {
              "type": "string"
            }
          ]
        },
        "order_id": {
          "description": "Order id",
          "type": "string"
        },
        "supplier_order_number": {
          "description": "Supplier order number (optional)",
          "type": "integer"
        },
        "reason": {
          "description": "Reason for creating a ticket",
          "type": "string"
        },
        "description": {
          "description": "Ticket description",
          "type": "string"
        },
        "suggested_solution": {
          "description": "Suggested solution",
          "type": "string"
        },
        "contact_email": {
          "description": "Email address of the addressee (optional)",
          "type": "string"
        },
        "products": {
          "description": "Array of products related to the ticket (optional)",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Product"
          }
        }
      }
    },
    "DeliveryDateAndShippingMethodCode": {
      "type": "object",
      "additionalProperties": false,
      "required": [
        "address",
        "delivery_date",
        "shipping_method_code"
      ],
      "properties": {
        "address": {
          "x-amf-union": [
            {
              "$ref": "#/definitions/Address"
            },
            {
              "$ref": "#/definitions/AddressId"
            }
          ]
        },
        "sender_address": {
          "x-amf-union": [
            {
              "type": "object",
              "required": [
                "postal_code",
                "country",
                "house_number",
                "company_name",
                "city",
                "street",
                "first_name"
              ],
              "properties": {
                "postal_code": {
                  "description": "Postal code of the delivery address.",
                  "type": "string"
                },
                "last_name": {
                  "description": "Last name of of the addressee.",
                  "type": "string"
                },
                "email": {
                  "description": "Email address of the addressee",
                  "type": "string"
                },
                "country": {
                  "description": "Country of delivery.",
                  "type": "string",
                  "minLength": 2,
                  "maxLength": 2
                },
                "house_number": {
                  "x-amf-union": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "integer"
                    }
                  ]
                },
                "addition": {
                  "description": "Addition to the housenumber of the delivery address.",
                  "type": "string"
                },
                "company_name": {
                  "description": "Company name of the addressee.",
                  "type": "string"
                },
                "phone": {
                  "description": "Phone number of addressee.",
                  "type": "string"
                },
                "city": {
                  "description": "City of delivery.",
                  "type": "string"
                },
                "street": {
                  "description": "Street name of the delivery address.",
                  "type": "string"
                },
                "first_name": {
                  "description": "First name of the of the addressee.",
                  "type": "string"
                }
              }
            },
            {
              "description": "Id of the address in the addressbook (not yet supported).",
              "type": "object",
              "required": [
                "id",
                "house_number"
              ],
              "properties": {
                "id": {
                  "type": "integer",
                  "minimum": 1
                },
                "house_number": {
                  "x-amf-union": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "integer"
                    }
                  ]
                }
              }
            }
          ]
        },
        "delivery_date": {
          "description": "Date the order should be delivered.",
          "type": "string",
          "format": "date"
        },
        "shipping_method_code": {
          "description": "Code of the shipping method to be used for shipping the order. Please contact Probo for a list of codes.",
          "type": "string"
        },
        "shipping_label_url": {
          "type": "string"
        },
        "packing_slip_urls": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "DeliveryDateAndShippingMethodPreset": {
      "type": "object",
      "additionalProperties": false,
      "required": [
        "address",
        "delivery_date",
        "shipping_method_preset"
      ],
      "properties": {
        "address": {
          "x-amf-union": [
            {
              "$ref": "#/definitions/Address"
            },
            {
              "$ref": "#/definitions/AddressId"
            }
          ]
        },
        "sender_address": {
          "x-amf-union": [
            {
              "type": "object",
              "required": [
                "postal_code",
                "country",
                "house_number",
                "company_name",
                "city",
                "street",
                "first_name"
              ],
              "properties": {
                "postal_code": {
                  "description": "Postal code of the delivery address.",
                  "type": "string"
                },
                "last_name": {
                  "description": "Last name of of the addressee.",
                  "type": "string"
                },
                "email": {
                  "description": "Email address of the addressee",
                  "type": "string"
                },
                "country": {
                  "description": "Country of delivery.",
                  "type": "string",
                  "minLength": 2,
                  "maxLength": 2
                },
                "house_number": {
                  "x-amf-union": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "integer"
                    }
                  ]
                },
                "addition": {
                  "description": "Addition to the housenumber of the delivery address.",
                  "type": "string"
                },
                "company_name": {
                  "description": "Company name of the addressee.",
                  "type": "string"
                },
                "phone": {
                  "description": "Phone number of addressee.",
                  "type": "string"
                },
                "city": {
                  "description": "City of delivery.",
                  "type": "string"
                },
                "street": {
                  "description": "Street name of the delivery address.",
                  "type": "string"
                },
                "first_name": {
                  "description": "First name of the of the addressee.",
                  "type": "string"
                }
              }
            },
            {
              "description": "Id of the address in the addressbook (not yet supported).",
              "type": "object",
              "required": [
                "id",
                "house_number"
              ],
              "properties": {
                "id": {
                  "type": "integer",
                  "minimum": 1
                },
                "house_number": {
                  "x-amf-union": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "integer"
                    }
                  ]
                }
              }
            }
          ]
        },
        "delivery_date": {
          "type": "string",
          "format": "date"
        },
        "shipping_method_preset": {
          "description": "Name of the preset which determines the shipping method based on certain parameters such as price or delivery speed. The list of presets is specified in xxx.",
          "type": "string"
        },
        "carrier_code": {
          "description": "Code of the carrier to be used for shipping the order. Please contact Probo for a list of codes.",
          "type": "string"
        },
        "packing_slip_urls": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "DeliveryDatePresetAndShippingMethodCode": {
      "type": "object",
      "additionalProperties": false,
      "required": [
        "address",
        "delivery_date_preset",
        "shipping_method_code"
      ],
      "properties": {
        "address": {
          "x-amf-union": [
            {
              "$ref": "#/definitions/Address"
            },
            {
              "$ref": "#/definitions/AddressId"
            }
          ]
        },
        "sender_address": {
          "x-amf-union": [
            {
              "type": "object",
              "required": [
                "postal_code",
                "country",
                "house_number",
                "company_name",
                "city",
                "street",
                "first_name"
              ],
              "properties": {
                "postal_code": {
                  "description": "Postal code of the delivery address.",
                  "type": "string"
                },
                "last_name": {
                  "description": "Last name of of the addressee.",
                  "type": "string"
                },
                "email": {
                  "description": "Email address of the addressee",
                  "type": "string"
                },
                "country": {
                  "description": "Country of delivery.",
                  "type": "string",
                  "minLength": 2,
                  "maxLength": 2
                },
                "house_number": {
                  "x-amf-union": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "integer"
                    }
                  ]
                },
                "addition": {
                  "description": "Addition to the housenumber of the delivery address.",
                  "type": "string"
                },
                "company_name": {
                  "description": "Company name of the addressee.",
                  "type": "string"
                },
                "phone": {
                  "description": "Phone number of addressee.",
                  "type": "string"
                },
                "city": {
                  "description": "City of delivery.",
                  "type": "string"
                },
                "street": {
                  "description": "Street name of the delivery address.",
                  "type": "string"
                },
                "first_name": {
                  "description": "First name of the of the addressee.",
                  "type": "string"
                }
              }
            },
            {
              "description": "Id of the address in the addressbook (not yet supported).",
              "type": "object",
              "required": [
                "id",
                "house_number"
              ],
              "properties": {
                "id": {
                  "type": "integer",
                  "minimum": 1
                },
                "house_number": {
                  "x-amf-union": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "integer"
                    }
                  ]
                }
              }
            }
          ]
        },
        "delivery_date_preset": {
          "description": "Name of preset which determines the delivery date based on parameters such as price.  Please contact Probo for a list of presets.",
          "type": "string"
        },
        "shipping_method_code": {
          "description": "Code of the shipping method to be used for shipping the order. Please contact Probo for a list of codes.",
          "type": "string"
        },
        "shipping_label_url": {
          "type": "string"
        },
        "packing_slip_urls": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "DeliveryDatePresetAndShippingMethodPreset": {
      "type": "object",
      "additionalProperties": false,
      "required": [
        "address",
        "delivery_date_preset",
        "shipping_method_preset"
      ],
      "properties": {
        "address": {
          "x-amf-union": [
            {
              "$ref": "#/definitions/Address"
            },
            {
              "$ref": "#/definitions/AddressId"
            }
          ]
        },
        "sender_address": {
          "x-amf-union": [
            {
              "type": "object",
              "required": [
                "postal_code",
                "country",
                "house_number",
                "company_name",
                "city",
                "street",
                "first_name"
              ],
              "properties": {
                "postal_code": {
                  "description": "Postal code of the delivery address.",
                  "type": "string"
                },
                "last_name": {
                  "description": "Last name of of the addressee.",
                  "type": "string"
                },
                "email": {
                  "description": "Email address of the addressee",
                  "type": "string"
                },
                "country": {
                  "description": "Country of delivery.",
                  "type": "string",
                  "minLength": 2,
                  "maxLength": 2
                },
                "house_number": {
                  "x-amf-union": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "integer"
                    }
                  ]
                },
                "addition": {
                  "description": "Addition to the housenumber of the delivery address.",
                  "type": "string"
                },
                "company_name": {
                  "description": "Company name of the addressee.",
                  "type": "string"
                },
                "phone": {
                  "description": "Phone number of addressee.",
                  "type": "string"
                },
                "city": {
                  "description": "City of delivery.",
                  "type": "string"
                },
                "street": {
                  "description": "Street name of the delivery address.",
                  "type": "string"
                },
                "first_name": {
                  "description": "First name of the of the addressee.",
                  "type": "string"
                }
              }
            },
            {
              "description": "Id of the address in the addressbook (not yet supported).",
              "type": "object",
              "required": [
                "id",
                "house_number"
              ],
              "properties": {
                "id": {
                  "type": "integer",
                  "minimum": 1
                },
                "house_number": {
                  "x-amf-union": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "integer"
                    }
                  ]
                }
              }
            }
          ]
        },
        "delivery_date_preset": {
          "description": "Name of preset which determines the delivery date based on parameters such as price. The list of available presets is specified in xxx.",
          "type": "string"
        },
        "shipping_method_preset": {
          "type": "string"
        },
        "carrier_code": {
          "description": "Code of the carrier to be used for shipping the order. Please contact Probo for a list of codes.",
          "type": "string"
        },
        "packing_slip_urls": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ShippingDateAndShippingMethodCode": {
      "type": "object",
      "additionalProperties": false,
      "required": [
        "address",
        "shipping_date",
        "shipping_method_code"
      ],
      "properties": {
        "address": {
          "x-amf-union": [
            {
              "$ref": "#/definitions/Address"
            },
            {
              "$ref": "#/definitions/AddressId"
            }
          ]
        },
        "sender_address": {
          "x-amf-union": [
            {
              "type": "object",
              "required": [
                "postal_code",
                "country",
                "house_number",
                "company_name",
                "city",
                "street",
                "first_name"
              ],
              "properties": {
                "postal_code": {
                  "description": "Postal code of the delivery address.",
                  "type": "string"
                },
                "last_name": {
                  "description": "Last name of of the addressee.",
                  "type": "string"
                },
[...]
